/* Base styles */
.appHeader {
  background-color: #f4f5f6;
  padding: 20px;
  -webkit-box-shadow: 3px 0 6px 0 #c9ced5;
          box-shadow: 3px 0 6px 0 #c9ced5;
}

.appHeader-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.companyLogo {
  height: 40px;
  margin-right: 30px;
}

.appTitle {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
}

.filtersContainer {
  padding-top: 80px;
}

.newsContainer {
  padding-top: 80px;
}

.newsColumnTitle {
  border-bottom: 1px solid;
  max-width: 240px;
  padding-bottom: 5px;
}

.newsList {
  list-style: none;
  margin-top: 40px;
}

.news {
  border: 1px solid rgba(88, 88, 88, 0.41);
  max-width: 400px;
  padding: 20px;
  border-radius: 6px;
  -webkit-box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* animate stories as they appear */
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
  -webkit-animation: appear 1s ease-in-out forwards;
          animation: appear 1s ease-in-out forwards;
  will-change: transform;
}

/* We know we have 10 stories per page tops */
.newsItem:nth-child(1) { -webkit-animation-delay: 0s; animation-delay: 0s; }
.newsItem:nth-child(2) { -webkit-animation-delay: 0.2s; animation-delay: 0.2s; }
.newsItem:nth-child(3) { -webkit-animation-delay: 0.4s; animation-delay: 0.4s; }
.newsItem:nth-child(4) { -webkit-animation-delay: 0.6s; animation-delay: 0.6s; }
.newsItem:nth-child(5) { -webkit-animation-delay: 0.8s; animation-delay: 0.8s; }
.newsItem:nth-child(6) { -webkit-animation-delay: 1s; animation-delay: 1s; }
.newsItem:nth-child(7) { -webkit-animation-delay: 1.2s; animation-delay: 1.2s; }
.newsItem:nth-child(8) { -webkit-animation-delay: 1.4s; animation-delay: 1.4s; }
.newsItem:nth-child(9) { -webkit-animation-delay: 1.6s; animation-delay: 1.6s; }
.newsItem:nth-child(10) { -webkit-animation-delay: 1.8s; animation-delay: 1.8s; }

.newsActions {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.readLaterItem {
  margin: 0;
  padding: 10px;
  /* animate stories as they appear */
  -webkit-animation: appear 1s ease-in-out forwards;
          animation: appear 1s ease-in-out forwards;
  will-change: transform;
  /* transition background-color for nicer highlighting */
  -webkit-transition: background-color 800ms ease-in-out;
  transition: background-color 800ms ease-in-out; 
  /* border radius is visible used upon highlighting */
  border-radius: 10px;
}
.readLaterItem.highlighted {
  background-color: #9b4dca
}
.readLaterItem-title {
  display: inline;
}

.errorMessage{
  border: 1px solid rgba(88, 88, 88, 0.41);
  max-width: 400px;
  padding: 20px;
  border-radius: 6px;
}

/* Larger than mobile screen */
@media (min-width: 40rem) {
  .appTitle {
    font-size: 2.4rem;
  }
}
/* Mobile screen */
@media (max-width: 40rem) {
  .newsActions {
    display: block;
  }
}

@-webkit-keyframes appear {
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

/*# sourceMappingURL=/main.1f19ae8e.css.map */