/* Base styles */
.appHeader {
  background-color: #f4f5f6;
  padding: 20px;
  box-shadow: 3px 0 6px 0 #c9ced5;
}

.appHeader-inner {
  display: flex;
  align-items: center;
}

.companyLogo {
  height: 40px;
  margin-right: 30px;
}

.appTitle {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
}

.filtersContainer {
  padding-top: 80px;
}

.newsContainer {
  padding-top: 80px;
}

.newsColumnTitle {
  border-bottom: 1px solid;
  max-width: 240px;
  padding-bottom: 5px;
}

.newsList {
  list-style: none;
  margin-top: 40px;
}

.news {
  border: 1px solid rgba(88, 88, 88, 0.41);
  max-width: 400px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* animate stories as they appear */
  transform: translateY(100px);
  opacity: 0;
  animation: appear 1s ease-in-out forwards;
  will-change: transform;
}

/* We know we have 10 stories per page tops */
.newsItem:nth-child(1) { animation-delay: 0s; }
.newsItem:nth-child(2) { animation-delay: 0.2s; }
.newsItem:nth-child(3) { animation-delay: 0.4s; }
.newsItem:nth-child(4) { animation-delay: 0.6s; }
.newsItem:nth-child(5) { animation-delay: 0.8s; }
.newsItem:nth-child(6) { animation-delay: 1s; }
.newsItem:nth-child(7) { animation-delay: 1.2s; }
.newsItem:nth-child(8) { animation-delay: 1.4s; }
.newsItem:nth-child(9) { animation-delay: 1.6s; }
.newsItem:nth-child(10) { animation-delay: 1.8s; }

.newsActions {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.readLaterItem {
  margin: 0;
  padding: 10px;
  /* animate stories as they appear */
  animation: appear 1s ease-in-out forwards;
  will-change: transform;
  /* transition background-color for nicer highlighting */
  transition: background-color 800ms ease-in-out; 
  /* border radius is visible and only used upon highlighting */
  border-radius: 10px;
}

.readLaterItem.highlighted {
  background-color: #9b4dca
}

.readLaterItem-title {
  display: inline;
}

.errorMessage{
  border: 1px solid rgba(88, 88, 88, 0.41);
  max-width: 400px;
  padding: 20px;
  border-radius: 6px;
}

/* Larger than mobile screen */
@media (min-width: 40rem) {
  .appTitle {
    font-size: 2.4rem;
  }
}
/* Mobile screen */
@media (max-width: 40rem) {
  .newsActions {
    display: block;
  }
  .newsActions > * {
    width: 100%;
  }
}

@keyframes appear {
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}